<h2 mat-dialog-title>{{getDialogTitle}}</h2>

<mat-dialog-content [formGroup]="form" *ngIf="!deleteForm">
    <mat-form-field>
        <input matInput placeholder="Issue Title" formControlName="title" />
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Story Point" type="number" formControlName="storyPoint" />
    </mat-form-field>

    <mat-form-field>
        <textarea matInput placeholder="Issue Description" formControlName="description"></textarea>
    </mat-form-field>

    <mat-form-field>
        <mat-select placeholder="Issue Type" formControlName="type">
            <mat-option value="userstory">User Story</mat-option>
            <mat-option value="bug">Bug</mat-option>
            <mat-option value="task">Task</mat-option>
            <mat-option value="spike">Spike</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-select placeholder="Stage" formControlName="stage">
            <mat-option value="backlog">Backlog</mat-option>
            <mat-option value="plan">Plan</mat-option>
            <mat-option value="develop">Develop</mat-option>
            <mat-option value="test">Test</mat-option>
            <mat-option value="deploy">Deploy</mat-option>
            <mat-option value="done">Done</mat-option>
        </mat-select>
    </mat-form-field>
</mat-dialog-content>

<mat-dialog-content *ngIf="deleteForm">
    <div>
        Are you sure, you want to delete Issue??
    </div>
</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button" (click)="close()">Close</button>
    <button
        class="mat-raised-button mat-primary"
        (click)="save()"
    >{{getButtonText}}</button>
</mat-dialog-actions>
