<h2 mat-dialog-title>{{getDialogTitle}}</h2>

<mat-dialog-content [formGroup]="form" *ngIf="!deleteForm">
    <mat-form-field>
        <input matInput placeholder="Issue Title" formControlName="title" />
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Story Point" type="number" formControlName="storyPoint" />
    </mat-form-field>

    <mat-form-field>
        <textarea matInput placeholder="Issue Description" formControlName="description"></textarea>
    </mat-form-field>

    <mat-form-field>
        <mat-select placeholder="Issue Type" formControlName="type">
            <mat-option value="userstory">{{ textKeys.userStory }}</mat-option>
            <mat-option value="bug">{{ textKeys.bug }}</mat-option>
            <mat-option value="task">{{ textKeys.task }}</mat-option>
            <mat-option value="spike">{{ textKeys.spike }}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-select placeholder="Stage" formControlName="stage">
            <mat-option value="backlog">{{ textKeys.backlog }}</mat-option>
            <mat-option value="plan">{{ textKeys.plan }}</mat-option>
            <mat-option value="develop">{{ textKeys.develop }}</mat-option>
            <mat-option value="test">{{ textKeys.test }}</mat-option>
            <mat-option value="deploy">{{ textKeys.deploy }}</mat-option>
            <mat-option value="done">{{ textKeys.done }}</mat-option>
        </mat-select>
    </mat-form-field>
</mat-dialog-content>

<mat-dialog-content *ngIf="deleteForm">
    <div>
        {{ textKeys.deleteConfirmationMessage }}
    </div>
</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button" (click)="close()">Close</button>
    <button
        class="mat-raised-button mat-primary"
        (click)="save()"
    >{{getButtonText}}</button>
</mat-dialog-actions>
