<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Scrum Board</span>
        <span class="example-spacer"></span>
        <button mat-raised-button color="primary"
            (click)="openCreateIssueDialouge()"
        >Create Issue</button>
    </mat-toolbar-row>
</mat-toolbar>

<br>
<br>

<mat-grid-list cols="1" *ngFor="let tile of tiles">
    <mat-grid-tile
        [colspan]="1"
        [style.background]="tile.color"
    >
        {{tile.text}}
    </mat-grid-tile>

    <mat-grid-tile
        *ngFor="let item of allIssue"
        [colspan]="1"
        [style.background]="tile.color"
    >
        <app-card-view
            *ngIf="item.stage.toLowerCase() === tile.text.toLowerCase()"
            (editDialog)="editIssueDialog($event)"
            [issueValue]="item"
        ></app-card-view>
    </mat-grid-tile>
</mat-grid-list>
