.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.card-block {
    padding: 3px;
}

.grid-list-container {
  display: flex;
  margin-top: 30px;
}

.mat-grid-list {
    flex-grow: 1;
    margin: 5px;
}

.mat-grid-tile.header{
  font-weight: bold;
}

.no-issue {
    text-align: center;
    margin-top: 50px;
}
