<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Scrum Board</span>
        <span class="example-spacer"></span>
        <button mat-raised-button color="primary"
            (click)="openCreateIssueDialouge()"
        >Create Issue</button>
    </mat-toolbar-row>
</mat-toolbar>

<div class="grid-list-container">
    <mat-grid-list cols="1" *ngFor="let tile of tiles"  rowHeight="50px">
        <mat-grid-tile class="header"
            [colspan]="1"
            [style.background]="tile.color"
        >
            {{tile.text}}
        </mat-grid-tile>

        <ng-container *ngFor="let item of issueObjects[tile.text.toLowerCase()]">
            <mat-grid-tile [rowspan]="4"
                *ngIf="item.stage.toLowerCase() === tile.text.toLowerCase()"
                [colspan]="1"
                [style.background]="tile.color"
            >
                <app-card-view

                    (editDialog)="editIssueDialog($event)"
                    (deleteDialog)="deleteIssue($event)"
                    [issueValue]="item"
                ></app-card-view>
            </mat-grid-tile>
        </ng-container>
        <ng-container *ngFor="let item of maxTiles(issueObjects[tile.text.toLowerCase()].length)">
            <mat-grid-tile [rowspan]="4"

                [colspan]="1"
                [style.background]="tile.color"
            >
            </mat-grid-tile>
        </ng-container>

    </mat-grid-list>
</div>
