<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title class="card-title">Issue1</mat-card-title>
        <mat-card-subtitle class="card-subtitle">Phase <b>Planning</b></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="card-description">
            This issue is related to scrum board feature
        </div>

        <div class="card-info">
            <span><b>Bug</b> Story type</span>
            <span><b>5</b> Story point</span>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button
            mat-raised-button
            color="primary"
            (click)="editIssueDialog()"
        >Edit</button>
        <button mat-raised-button color="primary">Delete</button>
    </mat-card-actions>
</mat-card>
