/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
  font-family: Roboto, sans-serif;
}

.done {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: white;
}
