/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
  font-family: Roboto, sans-serif;
}

.done {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: white;
}

.blue-primary {
    color: #3f51b5;
    cursor: pointer;
}

app-card-view {
    margin: 5px;
    border-radius: 2px;
}
