<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Scrum Board</span>
        <span class="example-spacer"></span>
        <button mat-raised-button color="primary">Create Issue</button>
    </mat-toolbar-row>
</mat-toolbar>

<br>
<br>

<mat-grid-list cols="6">
    <mat-grid-tile
        *ngFor="let tile of tiles"
        [colspan]="1"
        [style.background]="tile.color"
    >
        {{tile.text}}
    </mat-grid-tile>

    <mat-grid-tile
        *ngFor="let tile of tiles"
        [colspan]="1"
        [style.background]="tile.color"
    >
        <div class="card-block">
            <app-card-view></app-card-view>
        </div>
    </mat-grid-tile>

    <mat-grid-tile
        *ngFor="let tile of tiles"
        [colspan]="1"
        [style.background]="tile.color"
    >
        <div class="card-block">
            <app-card-view></app-card-view>
        </div>
    </mat-grid-tile>
</mat-grid-list>
